<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Earthchip</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
      <link rel="stylesheet" href="../css/style.css">
      <script type="text/javascript" src="../scripts/chart.js"></script>   
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>     
   </head>
   <body>
      {{{body}}}
   </body>
   <script>
       renderChart([{{soilValues}}],[{{soilDates}}],'soilchart')
       renderChart([{{tempValues}}],[{{tempDates}}],'tempchart')
   </script>

</html>