<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Earthchip</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
      <link rel="stylesheet" href="../css/styles1.css">
      <link rel="apple-touch-icon" sizes="152x152" href="../assets/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon-16x16.png">
      <link rel="manifest" href="../assets/site.webmanifest">
      <link rel="mask-icon" href="../assets/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="shortcut icon" href="../assets/favicon.ico">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-config" content="../assets/browserconfig.xml">
      <meta name="theme-color" content="#172e3b">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script type="text/javascript" src="../scripts/scripts1.js"></script>   
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>     

      <!-- Panelbear -->
      <script async src="https://cdn.panelbear.com/analytics.js?site=A6CVZAe4qO6"></script>
      <script>
         window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
         panelbear('config', { site: 'A6CVZAe4qO6' });
      </script>
   </head>
   <body>
      {{{body}}}
   </body>
<footer>
  <p><a href="https://mourraille.com/earthchip">mourraille.com ↗️</a></p>
</footer>
   <script>
       renderChart([{{soilValues}}],[{{soilDates}}],'soilchart')
       renderChart([{{tempValues}}],[{{tempDates}}],'tempchart')
   </script>
</html>